[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "0blayout"]
	path = lib/0blayout
	url = git@github.com:etu/0blayout-mode.git
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "alect-themes"]
	path = lib/alect-themes
	url = git@github.com:alezost/alect-themes.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "almost-mono-themes"]
	path = lib/almost-mono-themes
	url = git@github.com:cryon/almost-mono-themes.git
[submodule "ammonite-term-repl"]
	path = lib/ammonite-term-repl
	url = git@github.com:zwild/ammonite-term-repl.git
[submodule "anki-editor"]
	path = lib/anki-editor
	url = https://github.com/louietan/anki-editor.git
[submodule "annalist"]
	path = lib/annalist
	url = git@github.com:noctuid/annalist.el.git
[submodule "apiwrap"]
	path = lib/apiwrap
	url = git@github.com:vermiculus/apiwrap.el.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "auto-async-byte-compile"]
	path = lib/auto-async-byte-compile
	url = git@github.com:rubikitch/auto-async-byte-compile.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "auto-dim-other-buffers"]
	path = lib/auto-dim-other-buffers
	url = git@github.com:mina86/auto-dim-other-buffers.el.git
[submodule "autothemer"]
	path = lib/autothemer
	url = git@github.com:jasonm23/autothemer.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "avy-menu"]
	path = lib/avy-menu
	url = git@github.com:mrkkrp/avy-menu.git
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "bui"]
	path = lib/bui
	url = git@github.com:alezost/bui.el.git
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "cfrs"]
	path = lib/cfrs
	url = git@github.com:Alexander-Miller/cfrs.git
[submodule "char-menu"]
	path = lib/char-menu
	url = git@github.com:mrkkrp/char-menu.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-box"]
	path = lib/company-box
	url = git@github.com:sebastiencs/company-box.git
[submodule "company-lsp"]
	path = lib/company-lsp
	url = git@github.com:tigersoldier/company-lsp.git
[submodule "counsel-etags"]
	path = lib/counsel-etags
	url = git@github.com:redguardtoo/counsel-etags.git
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "dap-mode"]
	path = lib/dap-mode
	url = git@github.com:emacs-lsp/dap-mode.git
[submodule "darcula-theme"]
	path = lib/darcula-theme
	url = git@gitlab.com:fommil/emacs-darcula-theme.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "deadgrep"]
	path = lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "default-text-scale"]
	path = lib/default-text-scale
	url = git@github.com:purcell/default-text-scale.git
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = git@github.com:Fuco1/dired-hacks.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:hlissner/emacs-doom-themes.git
[submodule "eclipse-theme"]
	path = lib/eclipse-theme
	url = git@github.com:abo-abo/eclipse-theme.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "edit-server"]
	path = lib/edit-server
	url = git@github.com:stsquad/emacs_chrome.git
[submodule "edit-server-htmlize"]
	path = lib/edit-server-htmlize
	url = git@github.com:frobtech/edit-server-htmlize.git
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
[submodule "el-mock"]
	path = lib/el-mock
	url = git@github.com:rejeep/el-mock.el.git
[submodule "el-x"]
	path = lib/el-x
	url = git@github.com:sigma/el-x.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
	ignore = dirty
[submodule "emamux"]
	path = lib/emamux
	url = git@github.com:emacsorphanage/emamux.git
[submodule "emamux-ghci"]
	path = lib/emamux-ghci
	url = git@github.com:jfeltz/emamux-ghci.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "etags-select"]
	path = lib/etags-select
	url = git@github.com:emacsmirror/etags-select.git
[submodule "etags-table"]
	path = lib/etags-table
	url = git@github.com:emacsmirror/etags-table.git
[submodule "etexshow"]
	path = lib/etexshow
	url = git@github.com:pgundlach/etexshow.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
[submodule "evil-goggles"]
	path = lib/evil-goggles
	url = git@github.com:edkolev/evil-goggles.git
[submodule "evil-leader"]
	path = lib/evil-leader
	url = git@github.com:cofi/evil-leader.git
[submodule "evil-smartparens"]
	path = lib/evil-smartparens
	url = git@github.com:expez/evil-smartparens.git
[submodule "evil-snipe"]
	path = lib/evil-snipe
	url = git@github.com:hlissner/evil-snipe.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:emacs-evil/evil-surround.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "exwm"]
	path = lib/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "finalize"]
	path = lib/finalize
	url = git@github.com:skeeto/elisp-finalize.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-haskell"]
	path = lib/flycheck-haskell
	url = git@github.com:flycheck/flycheck-haskell.git
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
[submodule "frame-local"]
	path = lib/frame-local
	url = git@github.com:sebastiencs/frame-local.git
[submodule "gh"]
	path = lib/gh
	url = git@github.com:sigma/gh.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "ghub+"]
	path = lib/ghub+
	url = git@github.com:vermiculus/ghub-plus.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "green-screen-theme"]
	path = lib/green-screen-theme
	url = git@github.com:rbanffy/green-screen-emacs.git
[submodule "gruvbox-theme"]
	path = lib/gruvbox-theme
	url = git@github.com:greduan/emacs-theme-gruvbox.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "help-fns+"]
	path = lib/help-fns+
	url = git@github.com:emacsmirror/help-fns-plus.git
[submodule "hindent"]
	path = lib/hindent
	url = git@github.com:chrisdone/hindent.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "idea-darkula-theme"]
	path = lib/idea-darkula-theme
	url = git@github.com:fourier/idea-darkula-theme.git
[submodule "ido-completing-read+"]
	path = lib/ido-completing-read+
	url = git@github.com:DarwinAwardWinner/ido-completing-read-plus.git
[submodule "intero"]
	path = lib/intero
	url = git@github.com:commercialhaskell/intero.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "ivy-hoogle"]
	path = lib/ivy-hoogle
	url = git@github.com:sjsch/ivy-hoogle.git
[submodule "ivy-rich"]
	path = lib/ivy-rich
	url = git@github.com:yevgnen/ivy-rich.git
[submodule "ivy-yasnippet"]
	path = lib/ivy-yasnippet
	url = git@github.com:mkcms/ivy-yasnippet.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "jsonrpc"]
	path = lib/jsonrpc
	url = git@github.com:emacsmirror/jsonrpc.git
[submodule "linum-relative"]
	path = lib/linum-relative
	url = git@github.com:coldnew/linum-relative.git
[submodule "logito"]
	path = lib/logito
	url = git@github.com:sigma/logito.git
[submodule "lsp-haskell"]
	path = lib/lsp-haskell
	url = git@github.com:emacs-lsp/lsp-haskell.git
[submodule "lsp-ivy"]
	path = lib/lsp-ivy
	url = git@github.com:emacs-lsp/lsp-ivy.git
[submodule "lsp-metals"]
	path = lib/lsp-metals
	url = git@github.com:emacs-lsp/lsp-metals.git
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
[submodule "lsp-scala"]
	path = lib/lsp-scala
	url = git@github.com:rossabaker/lsp-scala.git
[submodule "lsp-treemacs"]
	path = lib/lsp-treemacs
	url = git@github.com:emacs-lsp/lsp-treemacs.git
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = git@github.com:emacs-lsp/lsp-ui.git
[submodule "lxol-mono-themes"]
	path = lib/lxol-mono-themes
	url = git@github.com:lxol/lxol-mono-themes.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "magit-gh-pulls"]
	path = lib/magit-gh-pulls
	url = git@github.com:sigma/magit-gh-pulls.git
[submodule "magit-popup"]
	path = lib/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "major-mode-hydra"]
	path = lib/major-mode-hydra
	url = git@github.com:jerrypnz/major-mode-hydra.el.git
[submodule "make-it-so"]
	path = lib/make-it-so
	url = git@github.com:abo-abo/make-it-so.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "marshal"]
	path = lib/marshal
	url = git@github.com:sigma/marshal.el.git
[submodule "material-theme"]
	path = lib/material-theme
	url = git@github.com:cpaulik/emacs-material-theme.git
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "mocker"]
	path = lib/mocker
	url = git@github.com:sigma/mocker.el.git
[submodule "monochrome-theme"]
	path = lib/monochrome-theme
	url = git@github.com:fxn/monochrome-theme.el.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "names"]
	path = lib/names
	url = git@github.com:Malabarba/names.git
[submodule "nlinum"]
	path = lib/nlinum
	url = git@github.com:emacsmirror/nlinum.git
[submodule "noflet"]
	path = lib/noflet
	url = git@github.com:nicferrier/emacs-noflet.git
[submodule "ob-ammonite"]
	path = lib/ob-ammonite
	url = git@github.com:zwild/ob-ammonite.git
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
[submodule "org-projectile"]
	path = lib/org-projectile
	url = git@github.com:IvanMalison/org-projectile.git
[submodule "org-trello"]
	path = lib/org-trello
	url = git@github.com:org-trello/org-trello.git
[submodule "ox-reveal"]
	path = lib/ox-reveal
	url = git@github.com:yjwen/org-reveal.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "pcache"]
	path = lib/pcache
	url = git@github.com:sigma/pcache.git
[submodule "persistent-scratch"]
	path = lib/persistent-scratch
	url = git@github.com:Fanael/persistent-scratch.git
[submodule "persp-mode"]
	path = lib/persp-mode
	url = git@github.com:Bad-ptr/persp-mode.el.git
[submodule "pfuture"]
	path = lib/pfuture
	url = git@github.com:Alexander-Miller/pfuture.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = git@github.com:skuro/plantuml-mode.git
[submodule "play-routes-mode"]
	path = lib/play-routes-mode
	url = git@github.com:brocode/play-routes-mode.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "powerline"]
	path = lib/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "pragmatapro-emacs"]
	path = lib/pragmatapro-emacs
	url = git@github.com:lxol/pragamatapro-emacs.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "quasi-monochrome-theme"]
	path = lib/quasi-monochrome-theme
	url = git@github.com:lbolla/emacs-quasi-monochrome.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "reformatter"]
	path = lib/reformatter
	url = git@github.com:purcell/reformatter.el.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "ripgrep"]
	path = lib/ripgrep
	url = git@github.com:nlamirault/ripgrep.el.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "sbt-ensime"]
	path = lib/sbt-ensime
	url = git@github.com:lxol/emacs.g.git
[submodule "sbt-mode"]
	path = lib/sbt-mode
	url = git@github.com:hvesalai/emacs-sbt-mode.git
[submodule "scala-mode"]
	path = lib/scala-mode
	url = git@github.com:hvesalai/emacs-scala-mode.git
[submodule "sexy-monochrome-theme"]
	path = lib/sexy-monochrome-theme
	url = git@github.com:voloyev/sexy-monochrome-theme.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = git@gitlab.com:bennya/shrink-path.el.git
[submodule "shut-up"]
	path = lib/shut-up
	url = git@github.com:cask/shut-up.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "tao-theme"]
	path = lib/tao-theme
	url = git@github.com:11111000000/tao-theme-emacs.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treemacs"]
	path = lib/treemacs
	url = git@github.com:Alexander-Miller/treemacs.git
	load-path = src/elisp
	load-path = src/extra
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undercover"]
	path = lib/undercover
	url = git@github.com:sviridov/undercover.el.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = git@gitlab.com:tsc25/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = git@github.com:joostkremers/visual-fill-column.git
[submodule "vscode-dark-plus-theme"]
	path = lib/vscode-dark-plus-theme
	url = git@github.com:ianpan870102/vscode-dark-plus-emacs-theme.git
[submodule "vterm"]
	path = lib/vterm
	url = git@github.com:akermu/emacs-libvterm.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = git@github.com:joostkremers/writeroom-mode.git
[submodule "xelb"]
	path = lib/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "xterm-color"]
	path = lib/xterm-color
	url = git@github.com:atomontage/xterm-color.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "zen-mode"]
	path = lib/zen-mode
	url = git@github.com:zenlang/zen-mode.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = git@github.com:bbatsov/zenburn-emacs.git
