*-autoloads.el
*.elc
*~
.*.lock
.cache/
.cvsignore
.svn
/.achievements
/.bloop
/.bookmarks.el
/.cask
/.emacs.desktop
/.historian
/.hive-maint
/.lsp-session-v1
/.mc-lists.el
/.org-id-locations
/.persistent-scratch
/.session
/.smex-items
/.sqli_history
/.sx/
/.uptimes.el
/TODO
/anaconda-mode/
/auto-save-list
/custom.el
/ditaa*.jar
/elpa
/elpa-*
/emms/
/eshell
/forge-database.sqlite
/frame-restore-parameters
/helm-adaptive-history
/history
/ido.last
/image-dired/
/magithub
/network-security.data
/newsticker
/org-clock-save.el
/places
/plantuml.jar
/projectile-bookmarks.eld
/projectile.cache
/rake.cache
/recentf
/session.*
/smex-items
/swank
/thumbs/
/tramp
/transient
/url/cache
/var
/viper
CVS
\#*
cookies
dir
site-lisp/package/
/stowed.el
