/.cask
/.hive-maint
/custom.el
/var
/.bloop
/.metals
*.elc
*-autoloads.el
dir
/projectile-bookmarks.eld
/.lsp-session-v1
/.persistent-scratch
/auto-save-list
/elpa
/forge-database.sqlite
/history
/places
/projectile.cache
/smex-items
/transient
