[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "0blayout"]
	path = lib/0blayout
	url = git@github.com:etu/0blayout-mode.git
[submodule "anki-editor"]
	path = lib/anki-editor
	url = https://github.com/louietan/anki-editor.git
[submodule "apiwrap"]
	path = lib/apiwrap
	url = git@github.com:vermiculus/apiwrap.el.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "auto-async-byte-compile"]
	path = lib/auto-async-byte-compile
	url = git@github.com:rubikitch/auto-async-byte-compile.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "auto-dim-other-buffers"]
	path = lib/auto-dim-other-buffers
	url = git@github.com:mina86/auto-dim-other-buffers.el.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "counsel-etags"]
	path = lib/counsel-etags
	url = git@github.com:redguardtoo/counsel-etags.git
[submodule "darcula-theme"]
	path = lib/darcula-theme
	url = git@gitlab.com:fommil/emacs-darcula-theme.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "deadgrep"]
	path = lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "default-text-scale"]
	path = lib/default-text-scale
	url = git@github.com:purcell/default-text-scale.git
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "eclipse-theme"]
	path = lib/eclipse-theme
	url = git@github.com:abo-abo/eclipse-theme.git
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = git@github.com:Fanael/edit-indirect.git
[submodule "el-x"]
	path = lib/el-x
	url = git@github.com:sigma/el-x.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
	ignore = dirty
[submodule "ensime"]
	path = lib/ensime
	url = git@github.com:ensime/ensime-emacs.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "etags-select"]
	path = lib/etags-select
	url = git@github.com:emacsmirror/etags-select.git
[submodule "etags-table"]
	path = lib/etags-table
	url = git@github.com:emacsmirror/etags-table.git
[submodule "etexshow"]
	path = lib/etexshow
	url = git@github.com:pgundlach/etexshow.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-goggles"]
	path = lib/evil-goggles
	url = git@github.com:edkolev/evil-goggles.git
[submodule "evil-smartparens"]
	path = lib/evil-smartparens
	url = git@github.com:expez/evil-smartparens.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:emacs-evil/evil-surround.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "exwm"]
	path = lib/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "finalize"]
	path = lib/finalize
	url = git@github.com:skeeto/elisp-finalize.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-haskell"]
	path = lib/flycheck-haskell
	url = git@github.com:flycheck/flycheck-haskell.git
[submodule "gh"]
	path = lib/gh
	url = git@github.com:sigma/gh.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "ghub+"]
	path = lib/ghub+
	url = git@github.com:vermiculus/ghub-plus.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
[submodule "green-screen-theme"]
	path = lib/green-screen-theme
	url = git@github.com:rbanffy/green-screen-emacs.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "help-fns+"]
	path = lib/help-fns+
	url = git@github.com:emacsmirror/help-fns-plus.git
[submodule "hindent"]
	path = lib/hindent
	url = git@github.com:chrisdone/hindent.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "ido-completing-read+"]
	path = lib/ido-completing-read+
	url = git@github.com:DarwinAwardWinner/ido-completing-read-plus.git
[submodule "intero"]
	path = lib/intero
	url = git@github.com:commercialhaskell/intero.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "ivy-rich"]
	path = lib/ivy-rich
	url = git@github.com:yevgnen/ivy-rich.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "logito"]
	path = lib/logito
	url = git@github.com:sigma/logito.git
[submodule "lxol-evil-textobj-syntax"]
	path = lib/lxol-evil-textobj-syntax
	url = git@github.com:laishulu/evil-textobj-syntax.git
[submodule "lxol-org"]
	path = lib/lxol-org
	url = https://github.com/emacsmirror/org
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "magit-gh-pulls"]
	path = lib/magit-gh-pulls
	url = git@github.com:sigma/magit-gh-pulls.git
[submodule "magit-popup"]
	path = lib/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "make-it-so"]
	path = lib/make-it-so
	url = git@github.com:abo-abo/make-it-so.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "marshal"]
	path = lib/marshal
	url = git@github.com:sigma/marshal.el.git
[submodule "material-theme"]
	path = lib/material-theme
	url = git@github.com:cpaulik/emacs-material-theme.git
[submodule "mocker"]
	path = lib/mocker
	url = git@github.com:sigma/mocker.el.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "names"]
	path = lib/names
	url = git@github.com:Malabarba/names.git
[submodule "nlinum"]
	path = lib/nlinum
	url = git@github.com:emacsmirror/nlinum.git
[submodule "noflet"]
	path = lib/noflet
	url = git@github.com:nicferrier/emacs-noflet.git
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
[submodule "org-projectile"]
	path = lib/org-projectile
	url = git@github.com:IvanMalison/org-projectile.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "pcache"]
	path = lib/pcache
	url = git@github.com:sigma/pcache.git
[submodule "persistent-scratch"]
	path = lib/persistent-scratch
	url = git@github.com:Fanael/persistent-scratch.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "quasi-monochrome-theme"]
	path = lib/quasi-monochrome-theme
	url = git@github.com:lbolla/emacs-quasi-monochrome.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "sbt-ensime"]
	path = lib/sbt-ensime
	url = git@github.com:lxol/emacs.g.git
[submodule "sbt-mode"]
	path = lib/sbt-mode
	url = git@github.com:ensime/emacs-sbt-mode.git
[submodule "scala-mode"]
	path = lib/scala-mode
	url = git@github.com:ensime/emacs-scala-mode.git
[submodule "shut-up"]
	path = lib/shut-up
	url = git@github.com:cask/shut-up.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "tao-theme"]
	path = lib/tao-theme
	url = git@github.com:11111000000/tao-theme-emacs.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undercover"]
	path = lib/undercover
	url = git@github.com:sviridov/undercover.el.git
[submodule "undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = git@github.com:joostkremers/visual-fill-column.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = git@github.com:joostkremers/writeroom-mode.git
[submodule "xelb"]
	path = lib/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "zenburn-theme"]
	path = lib/zenburn-theme
	url = git@github.com:bbatsov/zenburn-emacs.git
